/* Define Indian Railways color palette */
:root {
    --primary-color: #002147; /* Dark blue */
    --secondary-color: #ff9933; /* Saffron */
    --accent-color: #f1f1f1; /* Light gray */
    --text-color: #333; /* Dark text color */
    --border-color: #011631; /* Dark border color */
  }
  
  /* Share Container */
  .share {
    width: 100%;
    height: auto; /* Adjusted to auto for content */
    border-radius: 10px;
    box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    background-color: var(--accent-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
  }
  
  /* Share Wrapper */
  .shareWrapper {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  /* Share Top Section */
  .shareTop {
    display: flex;
    align-items: center;
  }
  
  .shareProfileImg {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
    border: 2px solid var(--border-color);
  }
  
  .shareInput {
    border: none;
    background-color: transparent;
    font-size: 18px;
    width: 80%;
    height: 30px;
    outline: none;
  }
  
  /* Share Horizontal Rule */
  .shareHr {
    margin: 10px;
    border: none;
    border-top: 1px solid var(--border-color);
  }
  
  /* Share Image Container */
  .shareImgContainer {
    padding: 0 20px 10px 20px;
    position: relative;
  }
  
  .shareImg {
    width: 100%;
    object-fit: contain;
  }
  
  .shareCancelImg {
    position: absolute;
    top: 0;
    right: 20px;
    background-color: white;
    padding: 5px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
  }
  
  /* Share Bottom Section */
  .shareBottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .shareOptions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
    margin-left: 20px;
  }
  
  .shareOption {
    display: flex;
    align-items: center;
    margin-right: 20px;
    cursor: pointer;
  }
  
  .shareIcon {
    font-size: 30px;
    margin-right: 10px;
  }
  
  .shareOptionText {
    font-size: 14px;
    font-weight: 600;
  }
  
  /* Emoji Section */
  .emoji {
    position: relative;
    padding: 0 20px 10px 20px;
    width: 100%;
    top: 20px;
    left: 70px;
  }
  